:root {
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-red: rgba(251, 86, 90, 1);
  --color-red-dark: rgba(231, 66, 70, 1);
  --color-red-darker: rgba(215, 55, 59, 1);
  --color-green: rgba(0, 202, 116, 1);
  --color-green-dark: rgba(0, 188, 108, 1);
  --color-green-darker: rgba(0, 170, 98, 1);
  --color-yellow: rgba(239, 200, 74, 1);
  --color-yellow-dark: rgba(234, 181, 52, 1);
  --color-yellow-darker: rgba(229, 167, 34, 1);
  --color-grey: rgba(238, 238, 238, 1);
  --color-grey-dark: rgba(223, 223, 223, 1);
  --color-grey-darker: rgba(213, 213, 213, 1);
  --color-grey-border: rgba(219, 219, 219, 1);
  --color-text: rgba(40, 49, 54, 1);
  --color-text-light: rgba(68, 68, 68, 1);
  --color-text-lighter: rgba(102, 102, 102, 1);
  --color-grey-very-light: rgba(225, 225, 225, 1);
}

body {
  color: var(--color-text);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}

/*  Grid  */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  line-height: 0;
}

.button {
  padding: 16px 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  border: none;
  border-radius: 3px;
  background-color: var(--color-red);
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
}

.button-red {
  background-color: var(--color-red);
  display: inline-block;
}

.button-yellow {
  background-color: var(--color-yellow);
  display: inline-block;
}

.button-green {
  background-color: var(--color-green);
  display: inline-block;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* HEADER */

.header {
  padding-top: 50px;
  color: var(--color-black);
  background-color: var(--color-grey);
}

.header-logo {
  margin-right: 200px;
}

.header-logo img {
  width: 160px;
  height: 65px;
  display: block;
}

.header-logo:active {
  opacity: 0.3;
}

.header-navigation {
  background-color: var(--color-grey);
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 20px;
  padding-bottom: 9px;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.header-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  line-height: 1.875;
}

.header-navigation li {
  padding-bottom: 13px;
  border-bottom: 2px solid transparent;
}

.header-navigation li.current {
  border-color: var(--color-red);
}

.header-navigation a {
  display: block;
  text-decoration: none;
  color: var(--color-white);
}

.header-navigation a: hover {
  color: var(--color-red);
}

.header-navigation a: active {
  color: var(--color-white);
  opacity: 0.3;
}

.navigation-list {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navigation-list .active-navigation:active, .navigation.list .active-navigation:focus {
  opacity: 1;
}

.navigation-list::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-red);
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: -12px;
}

.navigation-list li {
  margin-right: 47px;
  margin-top: 30px;
  position: relative;
}

.navigation-item {
  display: inline-block;
  margin-right: 45px;
}

.navigation-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.basket {
  max-width: 100px;
  padding-top: 20px;
  height: 30px;
  position: relative;
}

.basket::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 100px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigation-list a:hover, .basket:hover, .navigation-list a:focus, .basket:focus {
  color: var(--color-red);
}

.navigation-list a:active, .basket:active {
  opacity: 0.3;
  color: var(--color-black);
}

.basket:active::before {
  opacity: 1;
}

.navigation-basket li {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 10px 0 0 20px;
  list-style: none;
}

.navigation-basket a {
  display: flex;
  align-items: center;
}

.navigation-basket img {
  margin-right: 20px;
}

/* SLIDER */

.slider {
  position: relative;
  background-color: var(--color-grey);
}

.slide {
  overflow: hidden;
  display: flex;
  padding-right: 600px;
  padding-top: 78px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-position: right;
  display: none;
}

.slide-title {
  color: var(--color-black);
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 0;
  margin-bottom: 25px;
}

.slide-text {
  padding: 30px 0;
  color: var(--color-text);
  grid-column-start: 1;
  grid-column-end: 3;
}

.slide {
  margin-top: 25px;
  display: none;
}

.slide-current {
  display: block;
}

.slider-controls {
  position: absolute;
  z-index: 1000;
  bottom: 95px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 18px;
}

.slider-control {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-white);
  display: block;
  margin: 0 8px 0 9px;
}

.flying-phones-slide {
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url("../img/flying-phones-slide.png");
}

.two-monitors-slide {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 760px;
  height: 431px;
  background-image: url("../img/two-monitors-slide.png");
}

.tablet-and-phones-slide {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 760px;
  height: 431px;
  background-image: url("../img/tablet-and-phones-slide.png");
}

/* SERVICES */

.services {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.services-info-list {
  overflow: hidden;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  list-style: none;
  width: 1100px;
}

.services-into-item {
  overflow: hidden;
}

.services .button {
  margin-top: 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
}

.item-web .button {
  background-color: var(--color-red);
}

.item-app .button {
  background-color: var(--color-green);
}

.item-presentation .button {
  background-color: var(--color-yellow);
}

.about-us.container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.information.container {
  border-top: 2px solid var(--color-white);
}

.statistic {
  width: 360px;
  margin-right: 0;
  margin-left: 0;
}

.main-information {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.heading-information {
  margin-top: 40px;
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.dev-orders {
  margin-top: 23px;
  list-style-type: none;
}

.list-item {
  position: relative;
  margin-bottom: 24px;
}

.list-item::before {
  position: absolute;
  top: 12px;
  left: -35px;
  width: 25px;
  height: 2px;
  content: "";
  background-color: var(--color-red);
}

.header-statistic {
  text-transform: uppercase;
  font-size: 16px;
  padding: 0;
  text-align: center;
}

.partners-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partners-link img:hover,
.partners-link img:focus, 
.partners-link img:active {
  opacity:1;
}

.index-informations {
  display: grid;
  grid-template-columns: 1fr 360px;
}

.statistic .logo {
  margin-top: -32px;
}

.statistic>span {
  margin-top: 30px;
  text-transform: uppercase;
  color: var(--color-black);
}

.stat-info {
  display: flex;
  margin-top: 45px;
}

.features {
  display: flex;
  list-style: none;
  margin: 46px 0;
  padding: 0;
}

.features-item b {
  color: var(--color-black);
  font-size: 45px;
  line-height: 10px;
  margin: 0 10px;
}

.percent {
  vertical-align: super;
  font-size: 45px;
}

.features-item p {
  line-height: 18px;
  margin: 0 10px;
  padding-top: 20px;
}

.logotypes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 180px;
  margin-bottom: 80px;
  opacity: 0.2;
}

.logotypes.container {
  border-top: 2px solid var(--color-grey);
  border-bottom: 2px solid var(--color-grey);
}

.map {
  position: relative;
  width: 100%;
  height: 416px;
  border: 0;
}

.map-section {
  position: relative;
}

iframe {
  border: 0;
  width: 100%;
}

.write-us {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 320px;
  min-height: 310px;
  padding: 0 50px;
  padding-top: 55px;
  padding-bottom: 47px;
  color: var(--color-text-lighter);
  background-color: var(--color-white);
  position: absolute;
  top: 54px;
  left: 50%;
  margin-left: -580px;
}

.write-us .button {
  margin-top: auto;
  background-color: var(--color-red);
  text-align: center;
}

.write-us .button:hover, .write-us .button:focus {
  background-color: var(--color-red-dark);
}

.write-us .button:active {
  background-color: var(--color-red-dark);
  color: var(--color-white);
}

.write-us h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: var(--color-black)
}

.map-marker {
  position: absolute;
  background-image: url("../img/map-marker.png");
  width: 230px;
  height: 190px;
  z-index: 1;
  left: 731px;
  bottom: 86px;
}

.write-us p {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-text-lighter);
}

.write-us .tel {
  color: var(--color-text-lighter);
  text-decoration: none;
}

.main-footer {
  padding: 80px 0;
  display: grid;
  grid-template-columns: 263px 1fr;
  column-gap: 139px;
}

.main-footer .container {
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-footer .social {
  margin-right: 10px;
  flex: none;
}

.main-footer .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  background-color: var(--color-white);
  border-radius: 50%;
  text-decoration: none;
}

.social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-grey-very-light);
  margin-right: 10px;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  flex-direction: column;
}

.social .icon img {
  max-width: 26px;
  max-height: 22px;
  width: auto;
  height: auto;
  display: inline-block;
}

.social .icon:hover {
  background-color: var(--color-red-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social .icon:active {
  background-color: var(--color-red-darker);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social .icon:active img {
  opacity: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-slogan b {
  line-height: 36px;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.footer-slogan p {
  color: var(--color-text-light);
  font-size: 16px;
  line-height: 22px;
}

/* /* Ð¡atalog * */

.page-title h1 {
  padding: 40px;
  text-align: center;
  text-transform: none;
  color: var(--color-black);
  background-color: var(--color-grey);
  font-size: 55px;
  font-weight: 500;
  line-height: 100%;
  margin: 0px;
}

.btn {
  padding: 15px 20px;
  color: var(--color-black);
  border: none;
  border-radius: 3px;
  background-color: var(--color-grey);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  display: inline-block;
}

.button-grey {
  background-color: var(--color-grey);
  color: var(--color-black);
  display: inline-block;
  font-family: inherit
}

.component {
  align-items: center;
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.filter-grid-adaptive {
  color: var(--color-text);
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
}

.sorting {
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
}

.content {
  padding-top: 55px;
}

.result-content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.sorting {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 60px;
}

.result-content p {
  margin: 0;
}

.products-section {
  display: grid;
  grid-template-columns: 360px auto;
  grid-gap: 40px;
  margin: 50px;
}

.products-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 41px;
  grid-row-gap: 31px;
}

.sorting-filters {
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.range {
  align-items: center;
  text-transform: uppercase;
  color: var(--color-text);
  font-size: 16px;
  line-height: 22px;
}

.max, .min {
  padding: 0;
  border: 0;
  background-color: var(--color-grey);
}

.layout-image {
  max-width: 200px;
  padding-top: 30px;
  border: var(--color-green-dark) 1px;
  border-radius: 5px;
  display: inline-block;
}

.layout-menu {
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  background: var(--color-grey);
  display: flex;
  flex-direction: column;
}

.layout-menu p {
  color: var(--color-text-lighter);
}

.layout-menu h2 {
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 18px;
  line-height: 30px;
}

.pagination a {
  padding: 15px 20px;
  color: var(--color-black);
  border: none;
  border-radius: 3px;
  background-color: var(--color-grey);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}

.pagination ul {
  list-style: none;
  display: flex;
}

.pagination li {
  margin-right: 10px;
}