:root {
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-red: rgba(251, 86, 90, 1);
  --color-red-dark: rgba(231, 66, 70, 1);
  --color-red-darker: rgba(215, 55, 59, 1);
  --color-green: rgba(0, 202, 116, 1);
  --color-green-dark: rgba(0, 188, 108, 1);
  --color-green-darker: rgba(0, 170, 98, 1);
  --color-yellow: rgba(239, 200, 74, 1);
  --color-yellow-dark: rgba(234, 181, 52, 1);
  --color-yellow-darker: rgba(229, 167, 34, 1);
  --color-grey: rgba(238, 238, 238, 1);
  --color-grey-dark: rgba(223, 223, 223, 1);
  --color-grey-darker: rgba(213, 213, 213, 1);
  --color-grey-border: rgba(219, 219, 219, 1);
  --color-text: rgba(40, 49, 54, 1);
  --color-text-light: rgba(68, 68, 68, 1);
  --color-text-lighter: rgba(102, 102, 102, 1);
  --color-grey-very-light: rgba(225, 225, 225, 1);
  --color-shadow: rgba(0, 1, 1, 0.1);
  --color-cursor-shadow: rgba(0, 0, 0, 0.25);
  --color-control-slider: rgba(193, 193, 193, 1);
  --color-form-border: rgba(215, 220, 222, 1);
  --color-form-field: rgba(68, 68, 68, 0.5);
  --color-hover-form-border: rgba(181, 186, 187, 1);
  --color-triangle-current: rgba(35, 31, 32, 1);
  --color-triangle-default: rgba(166, 166, 166, 1);
  --color-shadow-toggle: rgba(0, 0, 0, 0.15);
  --color-special: rgba(77, 77, 77, 1);
  --color-active-black: rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/*  Grid  */

.page,
.page-body {
  min-width: 1200px;
}

.page-body {
  display: grid;
  align-content: start;
  min-height: 100%;

  grid-template-rows: min-content 1fr min-content;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  line-height: 0;
}

.button {
  display: inline-block;
  padding: 16px 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  border: none;
  border-radius: 3px;
  background-color: var(--color-red);
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  vertical-align: top;
}

.button-read-more {
  display: inline-block;
  padding-right: 55px;
  padding-left: 55px;
  background-color: var(--color-red);
  vertical-align: top;
}

.button-read-more:hover {
  background-color: var(--color-red-dark);
}

.button-read-more:active {
  background-color: var(--color-red-darker);
  box-shadow: inset 0 3px var(--color-shadow);
}

.button-red {
  display: inline-block;
  background-color: var(--color-red);
  vertical-align: top;
}

.button-red:hover {
  background-color: var(--color-red-dark);
}

.button-red:active {
  background-color: var(--color-red-darker);
  box-shadow: inset 0 3px var(--color-shadow);
}

.button-yellow {
  display: inline-block;
  background-color: var(--color-yellow);
  vertical-align: top;
}

.button-yellow:hover {
  background-color: var(--color-yellow-dark);
}

.button-yellow:active {
  background-color: var(--color-yellow-darker);
  box-shadow: inset 0 3px var(--color-shadow);
}

.button-green {
  display: inline-block;
  background-color: var(--color-green);
  vertical-align: top;
}

.button-green:hover {
  background-color: var(--color-green-dark);
}

.button-green:active {
  background-color: var(--color-green-darker);
  box-shadow: inset 0 3px var(--color-shadow);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* HEADER */

.header {
  padding-top: 50px;
  color: var(--color-black);
  background-color: var(--color-grey);
}

.header-logo img {
  display: block;
  width: 160px;
  height: 65px;
}

.header-logo:active {
  opacity: 0.3;
}

.header-navigation {
  display: grid;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: var(--color-grey);
  font-size: 16px;
  line-height: 30px;

  grid-template-columns: 220px 1fr 220px;
}

.header-navigation ul {
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  line-height: 1.875;
}

.header-navigation li {
  border-bottom: 2px solid transparent;
}

.header-navigation li.current {
  border-color: var(--color-red);
}

.header-navigation a {
  display: block;
  text-decoration: none;
  color: var(--color-white);
}

.header-navigation a:hover {
  color: var(--color-red);
}

/* Navigation List */

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 7px 0 0 0;
  padding: 0;
  list-style: none;
  color: var(--color-black);
}

.navigation-list.navigation-list-basket {
  justify-content: flex-end;
}

.navigation-item {
  position: relative;
  display: inline-block;
  margin-right: 45px;
  vertical-align: top;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-item.icon-basket a::before {
  padding-right: 40px;
  display: inline;
  width: 15px;
  height: 15px;
  content: "";
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigation-item a {
  margin-top: 18px;
  margin-bottom: 11px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.navigation-item a:hover,
.navigation-item a:focus {
  color: var(--color-red);
}

.navigation-item a:active {
  opacity: 0.3;
  color: var(--color-black);
}

/* SLIDER */

.slider {
  position: relative;
  min-height: 312px;
  background-color: var(--color-grey);
}

.slide {
  position: relative;
  display: none;
  display: none;
  overflow: hidden;
  padding-top: 73px;
  padding-right: 600px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-position: right;
}

.slide-title {
  margin: 0;
  margin-bottom: 26px;
  color: var(--color-black);
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slide-text {
  padding-top: 15px;
  padding-bottom: 20px;
  color: var(--color-text);
  grid-column-start: 1;
  grid-column-end: 3;
}

.slide-text p {
  margin: 0 0 39px;
}

.slide-current {
  display: block;
}

.slider-controls {
  position: absolute;
  z-index: 3;
  bottom: 80px;
  left: 50.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 18px;
  margin-left: -100px;
  list-style: none;
  text-align: center;
}

.slider-control {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  margin: 0 8px 0 9px;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: var(--color-white);
}

.slider-control:focus {
  box-shadow: 0 3px 2px 0 var(--color-cursor-shadow);
}

.slider-control-active:after {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 4px;
  height: 4px;
  content: "";
  border: 2px solid var(--color-control-slider);
  border-radius: 50%;
  background-color: var(--color-white);
}

.flying-phones-slide {
  min-width: 1160px;
  padding: 60px 0;
  background-image: url("../img/flying-phones-slide.png");
  background-position: top 3px right 7px;
  background-size: contain;
}

.two-monitors-slide {
  min-width: 1160px;
  padding: 60px 0;
  background-image: url("../img/two-monitors-slide.png");
  background-position: top 3px right 7px;
  background-size: contain;
}

.tablet-and-phones-slide {
  min-width: 1160px;
  padding: 60px 0;
  background-image: url("../img/tablet-and-phones-slide.png");
  background-position: top 3px right 7px;
  background-size: contain;
}

/* SERVICES */

.services {
  display: block;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  padding-top: 80px;
}

.services-info-list {
  display: grid;
  overflow: hidden;
  width: 1160px;
  padding: 0;
  padding-bottom: 80px;
  list-style: none;
  border-bottom: 2px solid var(--color-grey-very-light);

  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}

.services-into-item {
  overflow: hidden;
}

.services .button {
  margin-top: 12px;
}

.about-us.container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 50px;
}

.information.container {
  border-top: 2px solid var(--color-white);
}

.statistic {
  width: 360px;
  margin-right: 0;
  margin-left: 0;
}

.main-information {
  margin: 34px 0 33px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.heading-information {
  margin-top: 40px;
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.dev-orders {
  margin-top: 23px;
  padding-left: 36px;
  list-style-type: none;
}

.list-item {
  position: relative;
  margin-bottom: 24px;
}

.list-item::before {
  position: absolute;
  top: 12px;
  left: -35px;
  width: 25px;
  height: 2px;
  content: "";
  background-color: var(--color-red);
}

.header-statistic {
  margin-top: 28px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 47px;
}

/* Partners logos */

.partners-logos {
  width: 1160px;
  display: flex;
  align-items: center;
  height: 180px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 80px;
  border-top: 2px solid var(--color-grey-very-light);
  border-bottom: 2px solid var(--color-grey-very-light);
}

.partner-logo{
  display: flex;
  justify-content: center;
  width: 23%;
  position: relative;
}

.partner-logo:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -20px;
  width: 2px;
  height: 50px;
  transform: translateY(-50%);
  background-color: var(--color-grey-very-light);
}

.partners-link {
  display: block;
  position: relative;
  justify-content: center;
  text-align: center;
}

/* .partners-link:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 2px;
  height: 50px;
  content: "";
  transform: translateY(-50%);
  background-color: var(--color-grey-very-light);
  background-color: red;
} */

.partners-link img {
  opacity: 0.3;
  object-fit: scale-down;
  height: 100%;
  object-position: bottom;
}

.partners-link:hover img {
  opacity: 1;
}

.partners-link:active img {
  opacity: 0.1;
}

.index-informations {
  display: grid;
  margin-bottom: 26px;
  grid-template-columns: 1fr 360px;
}

.statistic .logo {
  margin-top: -32px;
}

.statistic > span {
  margin-top: 30px;
  text-transform: uppercase;
  color: var(--color-black);
}

.stat-info {
  display: flex;
  margin-top: 45px;
}

.features {
  display: grid;
  margin: 40px 0 47px;
  padding: 0;
  list-style: none;

  grid-template-columns: 1fr 1fr 1fr;
}

.features-item b {
  margin: 0;
  color: var(--color-black);
  font-size: 45px;
  line-height: 10px;
}

.percent {
  vertical-align: super;
  font-size: 25px;
}

.features-item p {
  margin: 0;
  padding-top: 22px;
  line-height: 18px;
}

.logotypes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 180px;
  margin-bottom: 80px;
  opacity: 0.2;
}

.logotypes.container {
  border-top: 2px solid var(--color-grey);
  border-bottom: 2px solid var(--color-grey);
}

.map {
  position: relative;
  width: 100%;
  height: 416px;
  border: 0;
}

.map-section {
  position: relative;
}

iframe {
  width: 100%;
  border: 0;
}

.write-us {
  position: absolute;
  top: 54px;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 320px;
  min-height: 310px;
  margin-left: -580px;
  padding: 0 50px;
  padding-top: 55px;
  padding-bottom: 47px;
  color: var(--color-text-lighter);
  background-color: var(--color-white);
}

.write-us .button {
  margin-top: auto;
  text-align: center;
  background-color: var(--color-red);
}

.write-us .button:hover,
.write-us .button:focus {
  background-color: var(--color-red-dark);
}

.write-us .button:active {
  color: var(--color-white);
  background-color: var(--color-red-dark);
}

.write-us h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: var(--color-black);
}

.map-marker {
  position: absolute;
  z-index: 1;
  bottom: 85px;
  left: 682px;
  width: 230px;
  height: 190px;
  background-image: url("../img/map-marker.png");
}

.map-contact {
  font-size: 18px;
}

.write-us p {
  margin: 0;
  color: var(--color-text-lighter);
  font-size: 16px;
  line-height: 18px;
}

.write-us .tel {
  text-decoration: none;
  color: var(--color-text-lighter);
}

.button-contacts {
  padding: 17px 44px 15px;
}

.main-footer {
  display: grid;
  padding: 62px 0;
  grid-template-columns: 263px 1fr;
  column-gap: 139px;
}

.main-footer .social {
  justify-content: space-between;
}

.main-footer .container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  list-style: none;
}

.main-footer .container {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 81px;
  height: 81px;
  text-decoration: none;
  border-radius: 50%;
  background-color: var(--color-white);
}

.social .icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--color-grey-very-light);
}

.social .icon img {
  display: inline-block;
  width: auto;
  max-width: 26px;
  height: auto;
  max-height: 22px;
  vertical-align: top;
}

.social .icon:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-red-dark);
}

.social .icon:active {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-red-darker);
  box-shadow: inset 0 3px var(--color-shadow);
}

.social .icon:active img {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
}

.footer-slogan {
  position: relative;
}

.footer-slogan b {
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  position: absolute;
  top: 31%;                         
  transform: translate(0, -50%);
}

.footer-slogan p {
  color: var(--color-text-light);
  font-size: 16px;
  line-height: 22px;
  position: absolute;
  top: 60%;                         
  transform: translate(0, -50%);
}

/* /* Сatalog * */

.page-title h1 {
  min-height: 82px;
  margin: 0;
  padding-top: 74px;
  padding-bottom: 80px;
  text-align: center;
  text-transform: none;
  color: var(--color-black);
  background-color: var(--color-grey);
  font-size: 55px;
  font-weight: 500;
  line-height: 100%;
}

.btn {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: var(--color-black);
  border: none;
  border-radius: 3px;
  background-color: var(--color-grey);
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
}

.button-grey {
  display: inline-block;
  padding: 17px 89px 15px 88px;
  cursor: pointer;
  color: var(--color-black);
  background-color: var(--color-grey);
  font-family: inherit;
  font-weight: bold;
  outline: none;
  vertical-align: top;
}

.button-grey:hover {
  background-color: var(--color-grey-dark);
}

.button-grey:active {
  opacity: 0.3;
  color: var(--color-black);
  background-color: var(--color-grey-darker);
  box-shadow: inset 0 3px var(--color-shadow);
}

.component {
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.component-pay {
  margin-bottom: 47px;
}

.option {
  position: relative;
  display: block;
  width: min-content;
  margin-bottom: 16px;
  padding-left: 36px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.option:last-child {
  margin-bottom: 0;
}

.adaptive {
  color: var(--color-text);
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
}

.sorting {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}

.content {
  padding-top: 55px;
}

.result-content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 48px;
}

.sorting {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 60px;
}

.products-section {
  display: grid;
  margin: 56px auto 60px;

  grid-template-columns: 260px auto;
  grid-gap: 140px;
}

.products-container {
  display: grid;
  margin: 0 0 57px;
  padding: 0;
  list-style: none;

  grid-template-columns: 1fr 1fr;
  grid-column-gap: 41px;
  grid-row-gap: 31px;
}

.product-image {
  display: block;
  margin-bottom: 21px;
}

.item-title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.item-app p,
.item-web p,
.item-presentation p {
  max-width: 281px;
  margin: 19px 0;
}

.filters-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters-content li:not(:last-child) {
  margin-bottom: 16px;
}

.sorting-filters {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-item {
  flex-wrap: wrap;
  padding-right: 25px;
  cursor: pointer;
}

.sorting-item:last-child {
  padding-right: 0;
}

.sorting-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--color-black);
  border: none;
  background-color: var(--color-white);
  font-size: 14px;
  line-height: 18px;
}

.sorting-link:hover,
.sorting-link:focus {
  opacity: 0.6;
  color: var(--color-black);
}

.current,
.sorting-link:active {
  opacity: 1;
  color: var(--color-black);
}

/* Switch */

.switch {
  display: flex;
  justify-content: flex-end;
  width: auto;
  margin: 0 -9px 0 38px;
  padding: 0;
  list-style: none;
}

.sorting-switch {
  position: relative;
  display: block;
  flex: none;
  width: 30px;
  height: 30px;
}

.sorting-switch a {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1, -1);
  opacity: 0.2;
  border: none;
  border-style: solid;
}

.sorting-switch a:hover {
  opacity: 1;
}

.sorting-switch-down a {
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent var(--color-triangle-default) transparent;
}

.sorting-switch-up a {
  border-width: 10px 5px 0 5px;
  border-color: var(--color-triangle-default) transparent transparent transparent;
}

.sorting-switch-down.current a {
  opacity: 1;
  border-color: transparent transparent var(--color-triangle-current) transparent;
}

.sorting-switch-up.current a {
  opacity: 1;
  border-color: var(--color-triangle-current) transparent transparent transparent;
}

/* Range */

.range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.range input {
  width: 60px;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: var(--color-grey);
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  background-color: var(--color-grey);
}

.range-filter {
  margin-bottom: 54px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--color-form-border);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--color-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  cursor: pointer;
  border: 8px solid var(--color-white);
  border-radius: 50%;
  background-color: var(--color-hover-form-border);
  box-shadow: 0 2px 1px 0 var(--color-shadow-toggle);
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.max,
.min {
  padding: 0;
  border: 0;
  background-color: var(--color-grey);
}

/* Filter radio */

.radio-input + .option:before {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: -36px;
  content: "";
  opacity: 0.4;
  background-color: black;
  background-color: var(--color-white);
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

.radio-input:checked + .option:before {
  opacity: 0.4;
  background-color: var(--color-white);
  background-image: url(../img/radio-on.svg);
}

.radio-input:hover + .option:before,
.radio-input:focus + .option:before {
  opacity: 1;
  background-color: var(--color-white);
  background-image: url(../img/radio-off.svg);
}

.radio-input:checked:hover + .option:before,
.radio-input:checked:focus + .option:before {
  opacity: 1;
  background-color: var(--color-white);
  background-image: url(../img/radio-on.svg);
}

.radio-input:disabled + .option:before,
.radio-input:checked:disabled + .option:before,
.radio-input:disabled:hover + .option:before,
.radio-input:disabled:focus + .option:before {
  cursor: default;
  opacity: 0.5;
}

.radio-input:disabled + .option {
  cursor: default;
  opacity: 0.3;
}

/* Filter checkbox */

.check-input + .option:before {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: -36px;
  content: "";
  opacity: 0.4;
  background-color: var(--color-white);
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.check-input:checked + .option:before {
  opacity: 0.4;
  background-color: var(--color-white);
  background-image: url(../img/checkbox-on.svg);
}

.check-input:hover + .option:before,
.check-input:focus + .option:before {
  opacity: 1;
  background-color: var(--color-white);
  background-image: url(../img/checkbox-off.svg);
}

.check-input:checked:hover + .option:before,
.check-input:checked:focus + .option:before {
  opacity: 1;
  background-color: var(--color-white);
  background-image: url(../img/checkbox-on.svg);
}

.check-input:disabled + .option:before,
.check-input:checked:disabled + .option:before,
.check-input:disabled:hover + .option:before,
.check-input:disabled:focus + .option:before {
  cursor: default;
  opacity: 0.5;
}

.check-input:disabled + .option {
  cursor: default;
  opacity: 0.3;
}

.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.sorting-title {
  margin: 0;
  margin-right: auto;
  padding: 0;
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.layout {
  position: relative;
  width: 358px;
  height: 619px;
  padding: 0;
  border-radius: 5px;
  background-color: var(--color-form-border);
}

.layout:hover .layout-menu,
.layout-menu {
  opacity: 1;
}

.layout:focus-within {
  opacity: 1;
}

.layout:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: var(--color-special);
  box-shadow: 0 4px 4px 0 var(--color-cursor-shadow);
}

.decoration-circle {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 13px 39px;
  border-radius: 50%;
  background-color: var(--color-white);
}

.decoration-circle:before {
  position: absolute;
  right: 23px;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background-color: var(--color-white);
}

.decoration-circle:after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 23px;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background-color: var(--color-white);
}

.layout-image {
  display: inline-block;
  width: 100%;
  padding: 0;
  vertical-align: text-bottom;
  border: var(--color-green-dark) 1px;
  border-radius: 5px;
  border-radius: 0 0 5px 5px;
}

.content-picture {
  display: block;
  width: 100%;
  width: 100%;
  height: auto;
}

.layout-menu {
  position: absolute;
  bottom: 0;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: inherit;
  padding: 25px 20px 43px;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  opacity: 0;
  border-radius: 0 0 5px 5px;
  background-color: var(--color-grey);
  width: inherit;
}

.layout-title {
  margin: 0 0 14px;
}

.layout-menu p {
  margin: 0 auto 0;
  color: var(--color-text-lighter);
  line-height: 18px;
  max-width: 230px;
}

.layout-menu .template-name {
  margin: 0 0 14px;
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
}

.button-pay {
  margin-top: 32px;
  box-sizing: border-box;
  min-width: 200px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1px;
  margin-bottom: -13px;
  padding: 0;
  list-style: none;
}

.pagination-list {
  min-width: 50px;
  margin: 0;
  margin-right: 11px;
  margin-bottom: 11px;
  border-radius: 3px;
  background-color: var(--color-grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.button-current {
  padding: 14px 0 12px;
}

.pagination-list:hover {
  background-color: var(--color-grey-dark);
}

.pagination-list:active {
  color: var(--color-black);
  background-color: var(--color-grey-dark);
  box-shadow: inset 0 3px var(--color-shadow);
}

.pagination-list-current {
  box-sizing: border-box;
  cursor: default;
  border: 3px solid var(--color-grey-border);
  border-radius: 3px;
  background-color: var(--color-white);
}

.pagination-list-current:hover,
.pagination-list-current:active {
  user-select: none;
  color: var(--color-black);
  background-color: var(--color-white);
  box-shadow: none;
}

.pagination-button {
  display: block;
  padding: 17px 0 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-black);
  font-weight: bold;
}

.pagination-button-next {
  display: inline-block;
  margin-right: 0;
  padding-right: 77px;
  padding-left: 78px;
  vertical-align: top;
}

.button-current {
  padding: 14px 0 12px;
}

.button:active {
  opacity: 0.3;
}

.pagination-list-current .pagination-button:active {
  opacity: 1;
}

/* Modal */

.modal-window {
  position: fixed;
  z-index: 20;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: none;
  width: 960px;
  height: 590px;
  background-color: var(--color-white);
  box-shadow: 0 20px 40px 0 var(--color-cursor-shadow);
}

.modal-window-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-window-error {
  animation: shake 0.6s;
}

.modal-window-form {
  display: flex;
  flex-direction: column;
  width: 760px;
  margin: 63px auto;
  padding: 0;
  color: var(--color-black);
}

.modal-window-form legend {
  padding-bottom: 37px;
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
}

.modal-window-form fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: none;
}

.modal-window-form label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.modal-window-form input,
.modal-window-form textarea {
  box-sizing: border-box;
  margin-top: 9px;
  color: var(--color-form-field);
  border: 2px solid var(--color-form-border);
  border-radius: 3px;
  outline: none;
  background: var(--color-white);

}

.modal-window-form input {
  width: 360px;
  height: 50px;
  padding-left: 16px;
}

.modal-window-form textarea {
  width: 760px;
  height: 118px;
  padding: 16px 16px;
  resize: none;
  font-size: 100%;
  font-family: sans-serif;
}

.modal-window-form input:hover,
.modal-window-form textarea:hover {
  border-color: var(--color-hover-form-border);
}

.modal-window-form input:focus,
.modal-window-form input:active,
.modal-window-form textarea:focus,
.modal-window-form textarea:active {
  color: var(--color-text-light);
  border-color: var(--color-black);
  outline: none;
}

.modal-window-form input:invalid,
.modal-window-form textarea:invalid {
  color: var(--color-red-dark);
  border-color: var(--color-red-dark);
}

.button-modal-window {
  width: min-content;
  padding: 17px 83px 15px;
  cursor: pointer;
}

.button-modal-window:active,
.button-modal-window:focus {
  outline: none;
}

.modal-window-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  opacity: 0.3;
  border: none;
  background-color: var(--color-white);
  background-image: url(../img/close-cross.svg);
  background-repeat: no-repeat;
}

.modal-window-close:hover,
.modal-window-close:active {
  opacity: 1;
  outline: none;
}

.modal-window-close:active {
  opacity: 0.1;
  outline: none;
}

.fieldset-label {
  margin-bottom: 40px;
}

/* Animations */
@keyframes bounce {
  0% {
    transform: translate(-50%, 50%) translateY(-2000px);
  }

  70% {
    transform: translate(-50, 50) translateY(30px);
  }

  90% {
    transform: translate(-50%, 50%) translateY(-10px);
  }

  100% {
    transform: translate(-50%, 50%) translateY(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translate(-50%, 50%) translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-50%, 50%) translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-50%, 50%) translateX(10px);
  }
}